# Global Societal Endangerment Index (GSEI)

Development notebook for step 2: Data Selection

In [132]:
import pandas as pd
import numpy as np
from fuzzywuzzy import process
import pycountry

# Data Loading and Preprocessing
Bring datasets into the right format and perform initial transformations to form the base indicators.

Total indicator count to load: 9 + 7 + 8 + 11 + 4 = 39

In [133]:
"""
Country standardisation functions
"""

UNKNOWN_COUNTRY = 'aaa.Unknown'

def all_countries():
    return [c.name for c in pycountry.countries]

def lookup_country(country_name: str, fuzzy_threshold=80):
    try:
        return pycountry.countries.lookup(country_name).name
    except LookupError: pass
    
    countries = all_countries()
    c_match = [c.casefold() for c in countries]
    try:
        if country_name.casefold() in c_match:
            return countries[c_match.index(country_name.casefold())]
    except Exception: pass
    
    # special cases
    if country_name == 'Canary Islands' or country_name == 'SPI':
        print(f"Using special case for '{country_name}' -> 'Spain'")
        return 'Spain'
    elif country_name == 'Turkey':
        print(f"Using special case for '{country_name}' -> 'Türkiye'")
        return 'Türkiye'
    elif 'Korea' in country_name and 'DPR' in country_name:
        print(f"Using special case for '{country_name}' -> 'Korea, Democratic People's Republic of'")
        return "Korea, Democratic People's Republic of"
    elif 'Congo' in country_name and 'dem' in country_name.casefold():
        print(f"Using special case for '{country_name}' -> 'Congo, Democratic Republic of the'")
        return 'Congo, Democratic Republic of the'
    
    # fuzzy match
    try:
        best_match, score = process.extractOne(country_name, countries)
        if score > fuzzy_threshold:
            print(f"Using fuzzy match for '{country_name}' -> '{best_match}'")
            return best_match
        else:
            raise LookupError(f"Country '{country_name}' not found (best fuzzy match too low: {best_match} ({score}))")
    except LookupError as e:
        print(e)
        return UNKNOWN_COUNTRY

def standardise_countries(country_col: pd.Series, fuzzy_threshold=80):
    return country_col.map(lambda c: lookup_country(c, fuzzy_threshold=fuzzy_threshold))

In [134]:
"""
Preprocessing for specific sources
"""

def transpose_world_bank_data(wb_df, year_range):
    """
    Transpose World Bank data from long to wide format.
    """
    # clean up rows
    # drop ANT, CHI, XKX because mapping them to another country would produce duplicate country rows that are very complicated to merge
    # drop all other codes that are not countries
    codes_to_remove = ['ANT','CHI','XKX',
    'AFE','AFW','ARB','CSS','CEB','EAR','EAS','EAP','TEA','EMU','ECS','ECA','TEC','EUU','FCS','HPC','HIC','IBD','IBT','IDB','IDX','IDA','LTE','LCN','LAC','TLA','LDC','LMY','LIC','LMC','MEA','MNA','TMN','MIC','NAC','INX','OED','OSS','PSS','PST','PRE','SST','SAS','TSA','SSF','SSA','TSS','UMC','WLD',  'FTI','LNX']
    wb_df = wb_df[~wb_df['Country Code'].isin(codes_to_remove)]
    wb_df = wb_df[~wb_df['Country Name'].str.contains("Data from", na=False)]
    wb_df = wb_df[~wb_df['Country Name'].str.contains("Last Updated", na=False)]
    wb_df = wb_df.dropna(how='all', axis=0)  # drop completely empty rows
    wb_df = wb_df.replace('..', np.nan)  # replace missing values with NaN
    # clean up columns
    wb_df['Country Name'] = standardise_countries(wb_df['Country Code'], fuzzy_threshold=100)
    wb_df = wb_df.drop(columns=['Country Code', 'Series Code'])
    wb_df.columns = [col.split(" [")[0] if "[YR" in col else col for col in wb_df.columns]
    # pivot to wide format
    wb_df = wb_df.pivot(index='Country Name', columns='Series Name', values=[str(year) for year in year_range])
    wb_df.columns = ['_'.join(col).strip() for col in wb_df.columns.values]
    wb_df = wb_df.reset_index()
    # convert to numeric
    num_cols = wb_df.drop('Country Name', axis=1).apply(pd.to_numeric, errors='coerce')
    wb_df = pd.concat([wb_df['Country Name'], num_cols], axis=1)
    return wb_df

def transpose_who_data(who_df, year_range):
    """
    Transpose WHO data from long to wide format.
    """
    # clean up rows
    who_df['Countries'] = who_df['Countries'].replace("occupied Palestinian territory, including east Jerusalem", "Palestine, State of")
    # clean up columns
    who_df['Countries'] = standardise_countries(who_df['Countries'], fuzzy_threshold=80)
    # pivot to wide format
    who_df = who_df.pivot(index='Countries', columns='Indicators', values=[str(year) for year in year_range])
    who_df.columns = ['_'.join(col).strip() for col in who_df.columns.values]
    who_df = who_df.reset_index()
    # convert to numeric
    num_cols = who_df.drop('Countries', axis=1).apply(pd.to_numeric, errors='coerce')
    who_df = pd.concat([who_df['Countries'], num_cols], axis=1)
    return who_df

def indicator_yearly_availability(processed_df):
    """
    Calculate the availability of data for each indicator and year.
    """
    indicators = processed_df.columns[1:]
    availability = processed_df[indicators].notnull().mean()
    # reshape to DataFrame
    availability_df = availability.to_frame(name='value').reset_index()
    availability_df.rename(columns={'index': 'indicator'}, inplace=True)
    # split indicator column
    availability_df[['year', 'indicatorName']] = availability_df['indicator'].str.split('_', n=1, expand=True)
    availability_df.drop('indicator', axis=1, inplace=True)
    # pivot to desired format
    return availability_df.pivot(index='indicatorName', columns='year', values='value').reset_index()

In [135]:
"""
Indicator Loading and Merging
"""

def include_indicators(in_df, out_df, country_col, indicator_cols, fuzzy_threshold=80):
    """
    Include selected indicators in the output DataFrame.
    """
    pass

def merge(out_df, in_df, indicator_cols):
    if indicator_cols[0] in out_df.columns:
        out_df = out_df.drop(columns=indicator_cols)
    out_df =  out_df.merge(in_df[['Country'] + indicator_cols], on='Country', how='left')
    
    print(out_df.columns.values)
    return out_df

### Environmental Risks

In [136]:
# start with comprehensive country list
env_data = pd.DataFrame(all_countries(), columns=['Country'])

env_data

           Country
0            Aruba
1      Afghanistan
2           Angola
3         Anguilla
4    Åland Islands
..             ...
244          Samoa
245          Yemen
246   South Africa
247         Zambia
248       Zimbabwe

[249 rows x 1 columns]

In [137]:
# Climate Change Vulnerability

# INDICATOR: Maximum relative temperature change (°C) in the last 10 years, compared to a 1951-1980 baseline

temp_change = pd.read_csv("data/UN_FAO_climate_change_indicators.csv")
# drop row with Country 'world' in temp_change
temp_change = temp_change[temp_change['Country'] != 'World']
# standardise country names
temp_change['Country'] = standardise_countries(temp_change['ISO3'])
# calculate maximum value between F2012 and F2022
indicator_cols = ['Temp Change max 2012-2022']
temp_change[indicator_cols[0]] = temp_change[['F2012', 'F2013', 'F2014', 'F2015', 'F2016', 'F2017', 'F2018', 'F2019', 'F2020', 'F2021', 'F2022']].max(axis=1)
# merge
env_data = merge(env_data, temp_change[['Country'] + indicator_cols], indicator_cols)

['Country' 'Temp Change max 2012-2022']

In [138]:
# Exposure to Natural Disasters (earthquakes, floods, hurricanes)

disasters = pd.read_excel("data/EM-DAT_natural_disasters_ALL_2020-2025.xlsx")
# standardise country names
disasters['Country'] = standardise_countries(disasters['ISO'])
# group by country, summing up INDICATORS: affected people + total damage
disasters_grouped = disasters.groupby('Country')[['No. Affected', 'Total Damage, Adjusted (\'000 US$)']].sum().reset_index()
disasters_grouped['Total Damage, Adjusted (\'000 US$)'] = disasters_grouped['Total Damage, Adjusted (\'000 US$)'] * 1000
# rename columns
indicator_cols = ['Disaster Affected Population 2020-2025', 'Disaster Damage US$T 2020-2025']
disasters_grouped.columns = ['Country'] + indicator_cols
# merge
env_data = merge(env_data, disasters_grouped, indicator_cols)

Using special case for 'SPI' -> 'Spain'
Using special case for 'SPI' -> 'Spain'
['Country' 'Temp Change max 2012-2022'
 'Disaster Affected Population 2020-2025' 'Disaster Damage US$T 2020-2025']

In [139]:
# Air and Water Pollution Levels

# INDICATORS:
# Years of lost life due to unsafe water, sanitation, and handwashing
# Years of lost life due to air pollution

air_water = pd.read_csv("data/IHME_GBD_environmental_risk_export_2021.csv")
# standardise country names
air_water['Location'] = standardise_countries(air_water['Location'], fuzzy_threshold=79)
# rename columns
indicator_cols = ['Unsafe water, sanitation (YLL)', 'Air pollution (YLL)']
air_water.columns = ['Country'] + indicator_cols
# merge
env_data = merge(env_data, air_water, indicator_cols)

Using fuzzy match for 'Cape Verde' -> 'Cabo Verde'
Using fuzzy match for 'Cote d'Ivoire' -> 'Côte d'Ivoire'
Using special case for 'Democratic Republic of Congo' -> 'Congo, Democratic Republic of the'
Using fuzzy match for 'Iran (Islamic Republic of)' -> 'Iran, Islamic Republic of'
Using fuzzy match for 'Libyan Arab Jamahiriya' -> 'Libya'
Using fuzzy match for 'Republic of Congo' -> 'Congo'
Using fuzzy match for 'Republic of Korea' -> 'Korea, Republic of'
Using special case for 'Turkey' -> 'Türkiye'
['Country' 'Temp Change max 2012-2022'
 'Disaster Affected Population 2020-2025' 'Disaster Damage US$T 2020-2025'
 'Unsafe water, sanitation (YLL)' 'Air pollution (YLL)']

In [140]:
wb_dev2 = pd.read_csv("data/Worldbank_development_2.csv")
wb_dev2 = transpose_world_bank_data(wb_dev2, range(2014, 2024))

# check availability of data for each indicator over the years
indicator_yearly_availability(wb_dev2)

year,indicatorName,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Access to electricity (% of population),0.995349,0.995349,0.995349,0.995349,0.995349,0.995349,0.995349,0.995349,0.995349,0.000000
1,"External debt stocks, total (DOD, current US$)",0.544186,0.553488,0.553488,0.553488,0.553488,0.553488,0.553488,0.553488,0.553488,0.553488
2,Individuals using the Internet (% of population),0.934884,0.930233,0.944186,0.953488,0.813953,0.865116,0.893023,0.883721,0.851163,0.274419
3,"Inflation, consumer prices (annual %)",0.874419,0.869767,0.869767,0.846512,0.832558,0.832558,0.804651,0.804651,0.800000,0.758140
4,People using safely managed drinking water ser...,0.637209,0.637209,0.641860,0.641860,0.637209,0.637209,0.637209,0.627907,0.613953,0.000000
5,Prevalence of moderate or severe food insecuri...,0.000000,0.455814,0.460465,0.539535,0.572093,0.627907,0.683721,0.706977,0.702326,0.000000
6,Prevalence of undernourishment (% of population),0.795349,0.795349,0.795349,0.795349,0.795349,0.790698,0.795349,0.795349,0.795349,0.000000
7,Renewable energy consumption (% of total final...,0.986047,0.986047,0.986047,0.986047,0.986047,0.986047,0.986047,0.986047,0.330233,0.000000
8,Renewable internal freshwater resources per ca...,0.851163,0.851163,0.851163,0.851163,0.851163,0.851163,0.851163,0.851163,0.000000,0.000000
9,Secure Internet servers (per 1 million people),0.976744,0.986047,0.995349,0.995349,0.990698,0.986047,0.995349,1.000000,1.000000,1.000000
10,Total reserves (% of total external debt),0.483721,0.493023,0.493023,0.488372,0.483721,0.474419,0.465116,0.446512,0.427907,0.390698
11,"Unemployment, total (% of total labor force) (...",0.865116,0.865116,0.865116,0.865116,0.865116,0.865116,0.865116,0.865116,0.860465,0.851163
12,"Unemployment, youth total (% of total labor fo...",0.865116,0.865116,0.865116,0.865116,0.865116,0.865116,0.865116,0.865116,0.860465,0.851163

#### Year selection for Worldbank Development Indicators (dataset 2)

Based on the availability of data for the Worldbank Development Indicators, one year is selected for each indicator that balances recency and data availability. The missing data will be handled in the imputation step. The selected years are:

- 2022 (99%) <- Access to electricity (% of population)
- 2023 (55%) <- "External debt stocks, total (DOD, current US$)"
- 2022 (85%) <- Individuals using the Internet (% of population)
- 2023 (75%) <- "Inflation, consumer prices (annual %)"
- 2022 (61%) <- People using safely managed drinking water services (% of population)
- 2022 (70%) <- Prevalence of moderate or severe food insecurity in the population (%)
- 2022 (80%) <- Prevalence of undernourishment (% of population)
- 2021 (98%) <- Renewable energy consumption (% of total final energy consumption)
- 2021 (85%) <- Renewable internal freshwater resources per capita (cubic meters)
- 2023 (100%) <- Secure Internet servers (per 1 million people)
- 2021 (44%) <- Total reserves (% of total external debt)
- 2023 (85%) <- "Unemployment, total (% of total labor force) (modeled ILO estimate)"
- 2023 (85%) <- "Unemployment, youth total (% of total labor force ages 15-24) (modeled ILO estimate)"

In [141]:
# Water Scarcity & Food Security

# INDICATORS:
# Renewable internal freshwater resources per capita (cubic meters)
# People using safely managed drinking water services (% of population)
# Prevalence of moderate or severe food insecurity in the population (%)
# Prevalence of undernourishment (% of population)

water_food = wb_dev2[['Country Name', '2022_People using safely managed drinking water services (% of population)', '2022_Prevalence of moderate or severe food insecurity in the population (%)', '2022_Prevalence of undernourishment (% of population)', '2021_Renewable internal freshwater resources per capita (cubic meters)']]
# rename columns
indicator_cols = ['Safe Drinking Water (%)', 'Food Insecurity (%)', 'Undernourishment (%)', 'Renewable Freshwater per Capita (m3)']
water_food.columns = ['Country'] + indicator_cols
# merge
env_data = merge(env_data, water_food, indicator_cols)

['Country' 'Temp Change max 2012-2022'
 'Disaster Affected Population 2020-2025' 'Disaster Damage US$T 2020-2025'
 'Unsafe water, sanitation (YLL)' 'Air pollution (YLL)'
 'Safe Drinking Water (%)' 'Food Insecurity (%)' 'Undernourishment (%)'
 'Renewable Freshwater per Capita (m3)']

### Political Instability & Governance

In [142]:
pol_data = pd.DataFrame(all_countries(), columns=['Country'])

In [143]:
# Governance Quality

wb_gov = pd.read_csv('data/Worldbank_governance.csv')
wb_gov = transpose_world_bank_data(wb_gov, range(2014, 2024))

# check availability of data for each indicator over the years
indicator_yearly_availability(wb_gov)

year,indicatorName,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Control of Corruption: Estimate,0.981132,0.990566,0.990566,0.990566,0.990566,0.990566,0.990566,0.990566,1.000000,1.000000
1,Government Effectiveness: Estimate,0.981132,0.990566,0.990566,0.990566,0.990566,0.990566,0.990566,0.990566,1.000000,1.000000
2,Political Stability and Absence of Violence/Te...,0.990566,0.990566,0.990566,0.990566,1.000000,1.000000,1.000000,1.000000,1.000000,0.995283
3,Regulatory Quality: Estimate,0.981132,0.990566,0.990566,0.990566,0.990566,0.990566,0.990566,0.990566,1.000000,1.000000
4,Rule of Law: Estimate,0.981132,0.990566,0.990566,0.990566,0.990566,0.990566,0.990566,0.990566,1.000000,1.000000
5,Voice and Accountability: Estimate,0.957547,0.957547,0.957547,0.957547,0.971698,0.976415,0.976415,0.976415,0.976415,0.962264

In [144]:
# use 2023 since all data is >95% available

# INDICATORS:
# Corruption Control
# Rule of Law
# Political Stability
# Government Effectiveness
# Regulatory Quality
# Voice and Accountability

governance = wb_gov[['Country Name'] + list(wb_gov.columns[wb_gov.columns.str.startswith('2023')])]
# rename columns
indicator_cols = ['Corruption Control', 'Rule of Law', 'Political Stability', 'Government Effectiveness', 'Regulatory Quality', 'Voice and Accountability']
governance.columns = ['Country'] + indicator_cols
# merge
pol_data = merge(pol_data, governance, indicator_cols)

['Country' 'Corruption Control' 'Rule of Law' 'Political Stability'
 'Government Effectiveness' 'Regulatory Quality'
 'Voice and Accountability']

In [145]:
# INDICATOR: Democracy, not Autocracy

regime = pd.read_csv('data/V-Dem-Institute_ERT_democracy.csv')
# select most recent year
regime = regime[regime['year'] == 2023]
# standardise country names
regime['country_name'] = standardise_countries(regime['country_text_id'], fuzzy_threshold=100)
regime = regime[regime['country_name'] != UNKNOWN_COUNTRY]
# select & rename columns
regime = regime[['country_name', 'reg_type']]
indicator_cols = ['Democracy, not Autocracy']
regime.columns = ['Country'] + indicator_cols
# merge
pol_data = merge(pol_data, regime, indicator_cols)

Country 'XKX' not found (best fuzzy match too low: Denmark (36))
Country 'PSG' not found (best fuzzy match too low: Cyprus (44))
Country 'SML' not found (best fuzzy match too low: Åland Islands (60))
Country 'ZZB' not found (best fuzzy match too low: Uzbekistan (60))
['Country' 'Corruption Control' 'Rule of Law' 'Political Stability'
 'Government Effectiveness' 'Regulatory Quality'
 'Voice and Accountability' 'Democracy, not Autocracy']

### Social Vulnerability

In [146]:
soc_data = pd.DataFrame(all_countries(), columns=['Country'])

In [147]:
wb_dev1 = pd.read_csv("data/Worldbank_development_1_poverty.csv")
wb_dev1 = transpose_world_bank_data(wb_dev1, range(2014, 2024))

# check availability of data for each indicator over the years
indicator_yearly_availability(wb_dev1)

year,indicatorName,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Gini index,0.376744,0.390698,0.372093,0.35814,0.423256,0.358140,0.302326,0.330233,0.130233,0.018605
1,Income share held by highest 10%,0.376744,0.390698,0.372093,0.35814,0.423256,0.353488,0.302326,0.330233,0.130233,0.018605
2,Income share held by lowest 20%,0.376744,0.390698,0.372093,0.35814,0.423256,0.353488,0.302326,0.330233,0.130233,0.018605
3,Poverty headcount ratio at societal poverty li...,0.376744,0.390698,0.372093,0.35814,0.423256,0.358140,0.302326,0.330233,0.130233,0.018605

#### Year selection for Worldbank Development Indicators (dataset 1)

- 2021 (33%) <- Gini index
- 2021 (33%) <- Income share held by highest 10%
- 2021 (33%) <- Income share held by lowest 20%
- 2021 (33%) <- Poverty headcount ratio at societal poverty line (% of population)

In [148]:
# Poverty

# INDICATOR: Population percentage below societal poverty line

poverty = wb_dev1[['Country Name', '2021_Poverty headcount ratio at societal poverty line (% of population)']]
# rename columns
indicator_cols = ['Population below Poverty Line (%)']
poverty.columns = ['Country'] + indicator_cols
# merge
soc_data = merge(soc_data, poverty, indicator_cols)

['Country' 'Population below Poverty Line (%)']

In [149]:
who_ghe = pd.read_csv("data/WHO_GHE_data_selected.csv")
who_ghe = transpose_who_data(who_ghe, range(2020, 2024))

# check availability of data for each indicator over the years
indicator_yearly_availability(who_ghe)

Using special case for 'Democratic Republic of the Congo' -> 'Congo, Democratic Republic of the'
Using special case for 'Democratic Republic of the Congo' -> 'Congo, Democratic Republic of the'
Using special case for 'Democratic Republic of the Congo' -> 'Congo, Democratic Republic of the'
Using special case for 'Democratic Republic of the Congo' -> 'Congo, Democratic Republic of the'
Using special case for 'Democratic Republic of the Congo' -> 'Congo, Democratic Republic of the'
Using fuzzy match for 'Bolivia (Plurinational State of)' -> 'Bolivia, Plurinational State of'
Using fuzzy match for 'Bolivia (Plurinational State of)' -> 'Bolivia, Plurinational State of'
Using fuzzy match for 'Bolivia (Plurinational State of)' -> 'Bolivia, Plurinational State of'
Using fuzzy match for 'Bolivia (Plurinational State of)' -> 'Bolivia, Plurinational State of'
Using fuzzy match for 'Venezuela (Bolivarian Republic of)' -> 'Venezuela, Bolivarian Republic of'
Using fuzzy match for 'Venezuela (Bolivarian Republic of)' -> 'Venezuela, Bolivarian Republic of'
Using fuzzy match for 'Venezuela (Bolivarian Republic of)' -> 'Venezuela, Bolivarian Republic of'
Using fuzzy match for 'Venezuela (Bolivarian Republic of)' -> 'Venezuela, Bolivarian Republic of'
Using fuzzy match for 'Venezuela (Bolivarian Republic of)' -> 'Venezuela, Bolivarian Republic of'
Using fuzzy match for 'Iran (Islamic Republic of)' -> 'Iran, Islamic Republic of'
Using fuzzy match for 'Iran (Islamic Republic of)' -> 'Iran, Islamic Republic of'
Using fuzzy match for 'Iran (Islamic Republic of)' -> 'Iran, Islamic Republic of'
Using fuzzy match for 'Iran (Islamic Republic of)' -> 'Iran, Islamic Republic of'
Using fuzzy match for 'Iran (Islamic Republic of)' -> 'Iran, Islamic Republic of'
Using fuzzy match for 'Netherlands (Kingdom of the)' -> 'Netherlands'
Using fuzzy match for 'Netherlands (Kingdom of the)' -> 'Netherlands'
Using fuzzy match for 'Netherlands (Kingdom of the)' -> 'Netherlands'
Using fuzzy match for 'Netherlands (Kingdom of the)' -> 'Netherlands'
Using fuzzy match for 'Netherlands (Kingdom of the)' -> 'Netherlands'
Using fuzzy match for 'Netherlands (Kingdom of the)' -> 'Netherlands'
Using fuzzy match for 'Micronesia (Federated States of)' -> 'Micronesia, Federated States of'
Using fuzzy match for 'Micronesia (Federated States of)' -> 'Micronesia, Federated States of'
Using fuzzy match for 'Micronesia (Federated States of)' -> 'Micronesia, Federated States of'
Using fuzzy match for 'Micronesia (Federated States of)' -> 'Micronesia, Federated States of'
Using fuzzy match for 'Republic of Korea' -> 'Korea, Republic of'
Using fuzzy match for 'Republic of Korea' -> 'Korea, Republic of'
Using fuzzy match for 'Republic of Korea' -> 'Korea, Republic of'
Using fuzzy match for 'Republic of Korea' -> 'Korea, Republic of'
Using fuzzy match for 'Republic of Korea' -> 'Korea, Republic of'
Using fuzzy match for 'Republic of Korea' -> 'Korea, Republic of'

year,indicatorName,2020,2021,2022,2023
0,Current Health Expenditure (CHE),0.994845,0.989691,0.984536,0.103093
1,Current Health Expenditure (CHE) as % Gross Do...,1.000000,1.000000,0.994845,0.103093
2,Current Health Expenditure (CHE) per Capita in...,1.000000,0.994845,0.989691,0.103093
3,Expenditure on COVID-19 per Capita in US$,0.309278,0.298969,0.175258,0.025773
4,Population (in thousands),0.989691,0.989691,0.989691,0.103093
5,Rest of the World (RoW) as % of Current Health...,0.278351,0.242268,0.211340,0.041237

#### Year selection for WHO Global Health Expenditure Indicators

- 2022 (98%) <- Current Health Expenditure (CHE)
- 2022 (98%) <- Current Health Expenditure (CHE) as % Gross Domestic Product (GDP)
- 2022 (98%) <- Current Health Expenditure (CHE) per Capita in US$
- 2021 (98%) <- Expenditure on COVID-19 per Capita in US$
- 2022 (98%) <- Rest of the World (RoW) as % of Current Health Expenditure (CHE)

In [150]:
# Health System Strength

# INDICATORS:
# Current Health Expenditure (CHE) per Capita in US$
# Rest of the World (RoW) as % of Current Health Expenditure (CHE)

health = who_ghe[['Countries', '2022_Current Health Expenditure (CHE) per Capita in US$', '2022_Rest of the World (RoW) as % of Current Health Expenditure (CHE)']]
# rename columns
indicator_cols = ['Health Expenditure per Capita (US$)', 'RoW Health Expenditure (%)']
health.columns = ['Country'] + indicator_cols
# merge
soc_data = merge(soc_data, health, indicator_cols)

['Country' 'Population below Poverty Line (%)'
 'Health Expenditure per Capita (US$)' 'RoW Health Expenditure (%)']

In [151]:
wb_edu = pd.read_csv("data/Worldbank_education.csv")
wb_edu = transpose_world_bank_data(wb_edu, [2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2005, 2000])

# check availability of data for each indicator over the years
indicator_yearly_availability(wb_edu)

year,indicatorName,2000,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,"Adult literacy rate, population 15+ years, bot...",0.203620,0.099548,0.239819,0.266968,0.208145,0.153846,0.239819,0.190045,0.162896,0.149321,0.357466,0.004525,0.0,0.0,0.0,0.0,0.0
1,Barro-Lee: Percentage of population age 15+ wi...,0.651584,0.651584,0.651584,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
2,"Completion rate, lower secondary education, bo...",0.253394,0.280543,0.190045,0.303167,0.158371,0.285068,0.330317,0.108597,0.135747,0.104072,0.140271,0.013575,0.0,0.0,0.0,0.0,0.0
3,"Government expenditure on education, US$ (mill...",0.542986,0.497738,0.556561,0.533937,0.497738,0.542986,0.520362,0.488688,0.493213,0.520362,0.280543,0.085973,0.0,0.0,0.0,0.0,0.0

#### Year selection for Worldbank Education Indicators

- 2018 (35%) <- "Adult literacy rate, population 15+ years, both sexes (%)"
- 2010 (65%) <- Barro-Lee: Percentage of population age 15+ with no education
- 2014 (33%) <- "Completion rate, lower secondary education, both sexes (%)"
- 2017 (52%) <- "Government expenditure on education, US$ (millions)"

Older years are acceptable as education undergoes slower changes and has long-term effects.

In [152]:
# Access to Education

# INDICATORS:
# Population age 15+ literacy rate
# Population age 15+ with no education
# Government expenditure on education
# Lower secondary school completion rate

education = wb_edu[['Country Name', '2018_Adult literacy rate, population 15+ years, both sexes (%)', '2010_Barro-Lee: Percentage of population age 15+ with no education', '2014_Completion rate, lower secondary education, both sexes (%)', '2017_Government expenditure on education, US$ (millions)']]
# rename columns
indicator_cols = ['Literacy Rate (%)', 'No Education (%)', 'Lower Secondary Completion Rate (%)', 'Education Expenditure (US$M)']
education.columns = ['Country'] + indicator_cols
# merge
soc_data = merge(soc_data, education, indicator_cols)

['Country' 'Population below Poverty Line (%)'
 'Health Expenditure per Capita (US$)' 'RoW Health Expenditure (%)'
 'Literacy Rate (%)' 'No Education (%)'
 'Lower Secondary Completion Rate (%)' 'Education Expenditure (US$M)']

In [153]:
# INDICATOR: Crime Rate

crime = pd.read_csv("data/global_organised_crime_index_2023.csv")
# standardise country names
crime['Country'] = standardise_countries(crime['Country'], fuzzy_threshold=79)
# select & rename columns
crime = crime[['Country', 'Criminality']]
indicator_cols = ['Crime Rate']
crime.columns = ['Country'] + indicator_cols
# merge
soc_data = merge(soc_data, crime, indicator_cols)

Using special case for 'Turkey' -> 'Türkiye'
Using special case for 'Korea, DPR' -> 'Korea, Democratic People's Republic of'
Using fuzzy match for 'Congo, Rep.' -> 'Congo'
Using fuzzy match for 'Russia' -> 'Russian Federation'
Using fuzzy match for 'Korea, Rep.' -> 'Korea, Republic of'
Using fuzzy match for 'Brunei' -> 'Brunei Darussalam'
Using special case for 'Congo, Dem. Rep.' -> 'Congo, Democratic Republic of the'
Using fuzzy match for 'St. Kitts and Nevis' -> 'Saint Kitts and Nevis'
Using fuzzy match for 'Micronesia (Federated States of)' -> 'Micronesia, Federated States of'
Using fuzzy match for 'St. Vincent and the Grenadines' -> 'Saint Vincent and the Grenadines'
Using fuzzy match for 'St. Lucia' -> 'Saint Lucia'
['Country' 'Population below Poverty Line (%)'
 'Health Expenditure per Capita (US$)' 'RoW Health Expenditure (%)'
 'Literacy Rate (%)' 'No Education (%)'
 'Lower Secondary Completion Rate (%)' 'Education Expenditure (US$M)'
 'Crime Rate']

### Economic Instability & Infrastructure

In [154]:
eco_data = pd.DataFrame(all_countries(), columns=['Country'])

### Global & Regional Threats

In [155]:
threat_data = pd.DataFrame(all_countries(), columns=['Country'])

In [156]:
# env_data
# pol_data
soc_data

,Country,Population below Poverty Line (%),Health Expenditure per Capita (US$),RoW Health Expenditure (%),Literacy Rate (%),No Education (%),Lower Secondary Completion Rate (%),Education Expenditure (US$M),Crime Rate
0,Aruba,NaN,NaN,NaN,97.80742,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,81.0,8.0,43.01972,58.38,NaN,819.55782,7.08
2,Angola,NaN,101.0,NaN,NaN,NaN,NaN,NaN,5.29
3,Anguilla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Åland Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
244,Samoa,NaN,236.0,NaN,99.09577,NaN,NaN,NaN,2.04
245,Yemen,NaN,38.0,NaN,NaN,57.49,NaN,NaN,6.13
246,South Africa,NaN,570.0,NaN,NaN,5.65,NaN,18116.49326,6.63
247,Zambia,NaN,76.0,NaN,86.74796,13.96,NaN,964.79014,4.93
248,Zimbabwe,NaN,71.0,NaN,NaN,5.08,69.74,1282.51065,5.66