# Global Societal Endangerment Index (GSEI)

Development notebook for step 2: Data Selection

In [40]:
import pandas as pd
import country_standardisation as my_cs

### Selection of Data

Check the quality and availability of the indicators.

In [41]:
df = pd.read_csv('data/processing/preprocessed_all_data.csv')

df.head(10)

,Country,Temp Change max 2012-2022,Disaster Affected Population 2020-2025,Disaster Damage US$T 2020-2025,"Unsafe water, sanitation (YLL)",Air pollution (YLL),Safe Drinking Water (%),Food Insecurity (%),Undernourishment (%),Renewable Freshwater per Capita (m3),...,Renewable Energy Consumption (%),Internet Users (%),Secure Internet Servers,Future Conflict Risk,Current Conflict Intensity,COVID-19 Expenditure per Capita (US$),Prevalence HIV/AIDS,Prevalence TB/Respiratory,Prevalence Malaria/Tropical,Prevalence Other Infectious
0,Aruba,1.303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.8,NaN,1397.181419,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2.012,13016058.0,0.0,1422.29,4283.98,30.034098,80.9,30.4,1178.737859,...,20.0,NaN,43.758544,0.922130,335.0,2.0,13.08,20436.28,22050.99,1619.54
2,Angola,1.752,4544311.0,0.0,1710.48,2429.79,NaN,79.2,23.2,4285.826520,...,52.9,39.2935,40.217790,0.346535,0.0,NaN,1461.24,33231.90,38007.20,2256.36
3,Anguilla,1.224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Åland Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Albania,2.028,84.0,0.0,26.79,1660.57,70.736068,32.2,4.5,9567.281462,...,41.9,82.6137,1220.332909,0.007443,0.0,NaN,1.07,22568.22,903.34,1063.17
6,Andorra,3.243,NaN,NaN,2.19,239.38,90.640001,NaN,NaN,4027.359502,...,18.4,94.4855,14618.581181,NaN,NaN,NaN,53.38,12313.50,234.83,385.35
7,United Arab Emirates,1.699,346.0,0.0,9.79,618.65,NaN,10.0,2.7,15.665548,...,1.0,100.0000,2119.661179,0.009810,0.0,379.0,31.04,31692.01,4985.35,1077.42
8,Argentina,1.123,979425.0,938469000.0,30.34,660.86,NaN,36.1,3.2,6444.169076,...,9.2,88.3754,5451.201504,0.027757,0.0,NaN,338.77,21909.67,8783.15,732.95
9,Armenia,2.772,21265.0,0.0,26.70,2601.29,82.411724,7.8,2.5,2315.430578,...,9.1,77.0277,1166.538500,0.251417,20.0,56.0,47.10,24060.53,2892.90,1216.81

In [42]:
# check availability of countries for each indicator
def check_availability_per_indicator(df, max_availability, custom_country_list=None):
    if custom_country_list is not None:
        dfc = df[df['Country'].isin(custom_country_list)]
    else:
        dfc = df

    availability_indicators = pd.concat([dfc.drop('Country', axis=1).count(),
                                         dfc.drop('Country', axis=1).count().apply(lambda x: round(x/len(dfc)*100)),
                                         ], axis=1).reset_index()
    availability_indicators.columns = ['Indicator', 'Country_Count', 'Availability (%)']
    
    return availability_indicators.sort_values(by='Availability (%)', ascending=True).drop(availability_indicators[availability_indicators['Availability (%)'] >= max_availability].index)

# check availability of indicators for each country
def check_availability_per_country(df, max_availability, custom_country_list=None):
    availability_countries = pd.concat([df['Country'],
                                        df.drop('Country', axis=1).count(axis=1),
                                        df.drop('Country', axis=1).count(axis=1).apply(lambda x: round(x/(len(df.columns)-1)*100)),
                                        ], axis=1)
    availability_countries.columns = ['Country', 'Indicator_Count', 'Availability (%)']
    
    if custom_country_list is not None:
        availability_countries = availability_countries[availability_countries['Country'].isin(custom_country_list)]
    
    return availability_countries.sort_values(by='Availability (%)', ascending=True).drop(availability_countries[availability_countries['Availability (%)'] >= max_availability].index)

In [43]:
# show indicators with less than 50% country availability
check_availability_per_indicator(df, 50)

                                Indicator  Country_Count  Availability (%)
18             RoW Health Expenditure (%)             41                16
37  COVID-19 Expenditure per Capita (US$)             57                23
26                       Gini Coefficient             71                29
21    Lower Secondary Completion Rate (%)             73                29
27                   Income Share Top 10%             71                29
16      Population below Poverty Line (%)             71                29
19                      Literacy Rate (%)             79                32
24             Government Debt (% of GDP)             83                33
25    Total Reserves (% of External Debt)             96                39
22           Education Expenditure (US$M)            115                46

In [44]:
# show countries with less than 50% indicator availability
check_availability_per_country(df, 50)

,Country,Indicator_Count,Availability (%)
27,Saint Barthélemy,0,0
197,Svalbard and Jan Mayen,0,0
195,South Georgia and the South Sandwich Islands,0,0
74,Falkland Islands (Malvinas),0,0
220,Tokelau,0,0
40,Cocos (Keeling) Islands,0,0
81,Guernsey,0,0
36,Bouvet Island,0,0
97,Heard Island and McDonald Islands,0,0
174,Pitcairn,0,0
232,United States Minor Outlying Islands,0,0
20,"Bonaire, Sint Eustatius and Saba",0,0
105,British Indian Ocean Territory,0,0
55,Christmas Island,0,0
4,Åland Islands,0,0
12,French Southern Territories,0,0
11,Antarctica,0,0
196,"Saint Helena, Ascension and Tristan da Cunha",1,2
68,Western Sahara,1,2
203,Saint Pierre and Miquelon,1,2
153,Montserrat,1,2
243,Wallis and Futuna,1,2
162,Norfolk Island,1,2
236,Holy See (Vatican City State),1,2
136,Saint Martin (French part),3,7
85,Guadeloupe,3,7
54,Curaçao,3,7
158,Mayotte,3,7
212,Sint Maarten (Dutch part),3,7
239,"Virgin Islands, British",4,10
76,Faroe Islands,4,10
150,Northern Mariana Islands,4,10
83,Gibraltar,5,12
165,Niue,5,12
215,Turks and Caicos Islands,5,12
154,Martinique,6,14
113,Jersey,6,14
3,Anguilla,6,14
187,Réunion,7,17
103,Isle of Man,7,17
30,Bermuda,8,19
185,French Polynesia,8,19
93,French Guiana,8,19
10,American Samoa,8,19
48,Cook Islands,8,19
56,Cayman Islands,10,24
160,New Caledonia,10,24
91,Greenland,10,24
240,"Virgin Islands, U.S.",11,26
228,"Taiwan, Province of China",11,26
0,Aruba,11,26
94,Guam,13,31
180,Puerto Rico,17,40
135,Macao,18,43
138,Monaco,20,48

#### Restrict to UN Member States

In [45]:
un_members = pd.read_csv('data/UN_member_states.csv')
un_members.columns = ['Country']
# standardise country names
un_members['Country'] = my_cs.standardise_countries(un_members['Country'])

# filter df to UN member states
selected_countries = un_members['Country'].tolist()
df_selected = df[df['Country'].isin(selected_countries)]

df_selected.head(10)

Using fuzzy match for 'Bolivia (Plurinational State of)' -> 'Bolivia, Plurinational State of'
Using special case for 'Democratic Republic of the Congo' -> 'Congo, Democratic Republic of the'
Using fuzzy match for 'Iran (Islamic Republic of)' -> 'Iran, Islamic Republic of'
Using fuzzy match for 'Micronesia (Federated States of)' -> 'Micronesia, Federated States of'
Using fuzzy match for 'Republic of Korea' -> 'Korea, Republic of'
Using special case for 'Turkey' -> 'Türkiye'
Using fuzzy match for 'Venezuela (Bolivarian Republic of)' -> 'Venezuela, Bolivarian Republic of'

,Country,Temp Change max 2012-2022,Disaster Affected Population 2020-2025,Disaster Damage US$T 2020-2025,"Unsafe water, sanitation (YLL)",Air pollution (YLL),Safe Drinking Water (%),Food Insecurity (%),Undernourishment (%),Renewable Freshwater per Capita (m3),...,Renewable Energy Consumption (%),Internet Users (%),Secure Internet Servers,Future Conflict Risk,Current Conflict Intensity,COVID-19 Expenditure per Capita (US$),Prevalence HIV/AIDS,Prevalence TB/Respiratory,Prevalence Malaria/Tropical,Prevalence Other Infectious
1,Afghanistan,2.012,13016058.0,0.000000e+00,1422.29,4283.98,30.034098,80.9,30.4,1178.737859,...,20.0,NaN,43.758544,0.922130,335.0,2.0,13.08,20436.28,22050.99,1619.54
2,Angola,1.752,4544311.0,0.000000e+00,1710.48,2429.79,NaN,79.2,23.2,4285.826520,...,52.9,39.2935,40.217790,0.346535,0.0,NaN,1461.24,33231.90,38007.20,2256.36
5,Albania,2.028,84.0,0.000000e+00,26.79,1660.57,70.736068,32.2,4.5,9567.281462,...,41.9,82.6137,1220.332909,0.007443,0.0,NaN,1.07,22568.22,903.34,1063.17
6,Andorra,3.243,NaN,NaN,2.19,239.38,90.640001,NaN,NaN,4027.359502,...,18.4,94.4855,14618.581181,NaN,NaN,NaN,53.38,12313.50,234.83,385.35
7,United Arab Emirates,1.699,346.0,0.000000e+00,9.79,618.65,NaN,10.0,2.7,15.665548,...,1.0,100.0000,2119.661179,0.009810,0.0,379.0,31.04,31692.01,4985.35,1077.42
8,Argentina,1.123,979425.0,9.384690e+08,30.34,660.86,NaN,36.1,3.2,6444.169076,...,9.2,88.3754,5451.201504,0.027757,0.0,NaN,338.77,21909.67,8783.15,732.95
9,Armenia,2.772,21265.0,0.000000e+00,26.70,2601.29,82.411724,7.8,2.5,2315.430578,...,9.1,77.0277,1166.538500,0.251417,20.0,56.0,47.10,24060.53,2892.90,1216.81
13,Antigua and Barbuda,1.131,NaN,NaN,69.14,893.41,NaN,33.0,NaN,563.081354,...,0.9,91.4123,803.720691,0.000000,0.0,NaN,268.96,22017.50,13086.34,1346.62
14,Australia,1.499,290558.0,1.713535e+10,3.79,255.71,NaN,12.9,2.5,19154.841667,...,12.3,94.8762,47567.630951,0.006948,0.0,707.0,72.37,13385.26,263.26,427.80
15,Austria,2.524,2220.0,0.000000e+00,4.41,489.99,98.896323,4.9,2.5,6141.273635,...,36.0,93.6141,42281.001441,0.006267,0.0,681.0,88.43,11308.65,323.41,423.14

In [46]:
# check availability of indicators for each country in un_members (below 50% threshold)
check_availability_per_indicator(df, 50, un_members['Country'])

                                Indicator  Country_Count  Availability (%)
18             RoW Health Expenditure (%)             40                21
37  COVID-19 Expenditure per Capita (US$)             57                30
16      Population below Poverty Line (%)             71                37
26                       Gini Coefficient             71                37
27                   Income Share Top 10%             71                37
21    Lower Secondary Completion Rate (%)             72                38
19                      Literacy Rate (%)             77                40
24             Government Debt (% of GDP)             82                43
25    Total Reserves (% of External Debt)             95                49

In [47]:
# check availability of indicators for each country in un_members
check_availability_per_country(df, 100, un_members['Country'])

           Country  Indicator_Count  Availability (%)
138         Monaco               20                48
201     San Marino               21                50
6          Andorra               22                52
169          Nauru               22                52
129  Liechtenstein               23                55
..             ...              ...               ...
23        Bulgaria               40                95
49        Colombia               41                98
52      Costa Rica               41                98
134         Latvia               41                98
188        Romania               41                98

[192 rows x 3 columns]

In [48]:
# save selected data
df_selected.to_csv('data/processing/selected_all_data.csv', index=False)

# filter preprocessed data for each category
categories = ['env', 'pol', 'soc', 'eco', 'threat']

for category in categories:
    data = pd.read_csv(f'data/processing/preprocessed_{category}_data.csv')
    data = data[data['Country'].isin(selected_countries)]
    data.to_csv(f'data/processing/selected_{category}_data.csv', index=False)